* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  height: 100vh;
  background-color: rgb(206, 206, 206);
}

#root {
  display: flex;
  height: 100%;
  margin: 0;
}

.form {
  width: 40vw;
  margin: 10px 90px;
}

fieldset,
fieldset div {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.cv-container {
  border: 2px solid black;
  width: 60vw;
  margin: 30px 90px;
  font-size: 1.2rem;
  background-color: white;
}

.header {
  background-color: rgba(9, 69, 9, 0.64);
  text-align: center;
  padding: 20px;
}

address > * {
  padding: 10px;
}

main {
  padding: 25px;
}

h2,
h3 {
  font-size: 1.5rem;
  background-color: rgba(9, 69, 9, 0.312);
  text-align: center;
}

.education-flexbox,
.work-flexbox {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.education-info-container,
.work-info-container {
  font-size: 0.9rem;
}

.degree-container,
.work-details-container {
  font-size: 1rem;
}

.fieldset-title {
  font-size: 1.7rem;
  font-weight: 700;
  padding: 5px 0;
}

input,
textarea {
  background-color: rgba(128, 128, 128, 0.094);
  border: none;
  height: 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px;
}

button {
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  margin: 8px;
  cursor: pointer;
}

.experience-break {
  margin: 15px 0;
}
